<div class="content">
    <div class="title">
        <h1>Atualizando Autor</h1>
    </div>
</div>

<form>
    <mat-form-field class="forms">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="autor.nome" type="text" maxlength="40" name="nome" placeholder="Ex. Jonas">
    </mat-form-field>    
    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ALTERAR</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>
