<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a routerLink="" mat-list-item>
            <i class="material-icons">home</i> Home
        </a>
        <a routerLink="/assuntos" mat-list-item>
            <i class="material-icons">menu_book</i> Assuntos
        </a>
        <a routerLink="/autores" mat-list-item>
          <i class="material-icons">person</i> Autores
        </a>
        <a routerLink="/livros" mat-list-item>
            <i class="material-icons">book</i> Livros
        </a>
        <a routerLink="/relatorios" mat-list-item>
            <i class="material-icons">list</i> Relatório
        </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
