<div class="content">
    <div class="title">
        <h1>Novo Autor</h1>
    </div>
</div>

<form>
    <mat-form-field class="forms">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="autor.nome" matInput type="text" maxlength="40" name="nome" placeholder="Ex. Computação">
    </mat-form-field>
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">SALVAR</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>
